@tailwind base;
@tailwind components;
@tailwind utilities;
*,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f8f3ef;

}
.headerContainer {
  max-width: 1400px;
  padding: 0px 15px;
  margin: auto;
}

.Container {
  max-width: 1250px;
  padding: 0px 15px;
  margin: auto;
}
